<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="key1" value="value1" />
    <add key="AllDirPath" value="E:\Study\SEM1\SofwareEngg\Workspace\Assignment\sorted\Directoryhistory.txt"/>
    <add key="AllFilePath" value="E:\Study\SEM1\SofwareEngg\Workspace\Assignment\sorted\AllFileshistory.txt"/>

  </appSettings>
</configuration>